@model List<IdentityMessageProject.EntityLayer.Concrete.Message>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}



<section class="col-span-3 bg-white bg-opacity-90 p-8 shadow-2xl rounded-3xl">
    <h2 class="text-2xl font-bold mb-6 text-purple-800 border-b-2 border-purple-300 pb-2">Inbox</h2>

    <!-- Silme işlemi için form -->
    <form method="post" asp-action="DeleteSelectedMessages" class="space-y-6">
        <div class="space-y-6">
            @foreach (var item in Model)
            {
                <div class="flex items-center justify-between p-5 bg-gradient-to-r from-purple-100 to-blue-100 rounded-2xl shadow-md hover:shadow-xl transition">
                    <div class="flex items-center space-x-9" style="width:70%;">
                        <!-- Mesaj Seçim Onay Kutusu -->
                        <input type="checkbox" name="selectedMessages" value="@item.MessageId" class="form-checkbox text-purple-600" />

                        <!-- Sender, Subject ve Details için genişlik -->
                        <span class="text-purple-700 font-semibold" style="width: 40%;">@item.SenderMail</span>
                        <a href="/Message/Details/@item.MessageId"><span class="text-gray-900 text-sm" style="width: 20%;">@item.Subject</span></a>
                        <a href="/Message/Details/@item.MessageId"><span class="text-gray-500 text-sm" style="width: 30%;">@item.Details.Substring(0, 60)..</span></a>
                    </div>
                    <div class="text-sm text-gray-500" style="width: 10%;">@item.Date.ToShortDateString()</div>
                    <a href="/Message/Details/@item.MessageId" class="text-purple-600 hover:text-purple-800 transition" style="width: 10%;">Details</a>
                </div>
            }
        </div>

        <!-- Silme Butonu -->
        <div class="mt-4">
            <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-300 transition">
                Delete Selected
            </button>
        </div>
    </form>
</section>
